{% extends "base_no_bar.html" %}

{% block main %}


<body class="bg-orange-300 min-h-screen flex items-center justify-center">
    <div class="w-full max-w-md bg-white shadow-lg rounded-lg p-6">
        <div class="text-center mb-6">
            <h3 class="text-lg font-semibold text-gray-700">Reset Your Password</h3>
        </div>
        
        {% if validlink %}
            {% if form.errors %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4">
                    <strong class="font-bold">Oops!</strong>
                    <span class="block sm:inline">There were errors with your submission:</span>
                    <ul class="list-disc ml-4">
                        {% for key, value in form.errors.items %}
                            <li>{{ value }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <form method="POST" class="space-y-4">
                {% csrf_token %}
                <div>
                    <label for="id_new_password1" class="block text-sm font-medium text-gray-700">New Password</label>
                    <input type="password" name="new_password1" id="id_new_password1" autocomplete="new-password" 
                           class="mt-1 block w-full px-3 py-2 border border-gray-300  shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-lg"
                           placeholder="Enter your new password" required>
                </div>
                
                <div>
                    <label for="id_new_password2" class="block text-sm font-medium text-gray-700">Confirm New Password</label>
                    <input type="password" name="new_password2" id="id_new_password2" autocomplete="new-password" 
                           class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                           placeholder="Confirm your new password" required>
                </div>
                
                <div>
                    <button type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-gray-900 transition duration-150 ease-in-out">Reset Password</button>
                </div>
            </form>
        {% else %}
            <div class="bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-3 rounded relative">
                <span class="font-bold">Warning:</span> The password reset link is invalid or has already been used. Please request a new password reset.
            </div>
        {% endif %}
    </div>
</body>
{% endblock %}
